input[type=text], input[type=password], select{
	width: 70%;
	margin: 10px 0px;
	float: left;
	line-height: 28px;
	background-color: #ddd;
}

.container{
	width: 100%;
	float: left;
	background-image: url(background.jpg);
	border: 2px solid green;
}


.side{
	width: 39%;
	float: left;
	height: 900px;
}

form{
	width: 20%;
	float: left;
	text-align: center;
	margin-top:69px;
}

img{
	border: 1px solid black;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
}

button{
	width: 40%;
	margin: 10px;
	background-image: url(Login.png);
}




